@import _variables

.navbar
    background: url('../src/img/baby.jpg')
    background-size: 50%
    background-repeat: no-repeat
    // background-color: #fa09dd
    width: 100%
    height: 31rem
    padding: 0
    margin: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-content: flex-start

    .nav
        // background: #eaeaae
        width: 100%
        height: 5rem
        margin: 0 160px
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

        .home
            padding: 0
            margin: 0
            line-height: 0
            &::after
                content: ''
                background: url('../src/logo_chavis-horizontal.svg')
                // background-color: #aeaeae
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                display: inline-block
                width: 200px
                height: 48px

    .blank
        // background: #cacaca
        width: 50%
        height: 90px

    .text
        width: 50%
        // display: flex
        // flex-wrap: wrap

        .info
            // background: #00afad
            margin: 0 160px 0 0
            padding: 0 0 0 16px
            box-sizing: border-box

            .title-header
                margin: 0
