.navbar
    width: 100%
    padding: 0
    margin: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-content: flex-start

    .nav
        width: 80%
        height: 4rem
        margin: 0 10rem
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        position: absolute

        .home
            padding: 0
            margin: 0
            line-height: 0
            &::after
                content: ''
                background: url('../src/logo_chavis-horizontal.svg')
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                display: inline-block
                width: 200px
                height: 48px

        .menu
            display: flex
            flex-wrap: wrap

            .btn-menu
                text-decoration: none
                padding: 0.5rem 0
                margin: 0 1rem
                border-bottom: 2px solid transparent
                color: $mainColor
                font-weight: $fw-body4
                transition: 0.3s
                &:hover
                    border-bottom: 2px solid $mainColor

    .img-text
        width: 100%
        display: flex
        flex-wrap: wrap
        align-items: flex-start

        .baby
            width: 50%
            height: 44rem
            vertical-align: middle
            object-fit: cover
            object-position: right

        .text
            width: 50%
            transform: translate(0, 4rem)
            margin: 0
            padding: 0

            .title-header
                margin: 0 6rem 1rem 0
                padding: 0 0 0 3rem
                font-family: $ff-headers
                font-size: $fsize-48
                color: $mainColor

            .text-header
                margin: 0 6rem 2rem 0
                padding: 0 0 0 3rem
                font-style: $fs-bodyNor
                font-weight: $fw-body4
                line-height: 20px
                color: $mainColor

            .imgs
                margin: 0 6rem 0 0
                padding: 0 0 0 3rem

                .food1
                    width: 15rem
                    height: 12rem
                    margin: 0 1rem 0 0
                    vertical-align: middle
                    object-fit: cover
                    border-radius: 8px

                .food2
                    width: 15rem
                    height: 12rem
                    vertical-align: middle
                    object-fit: cover
                    border-radius: 8px

            .btn-header
                display: inline-block
                background: $thirdColor
                border: 0
                border-radius: 8px
                color: #ffffff
                font-size: 18px
                cursor: pointer
                padding: 18px 32px
                margin: 2rem 0 0 0
                transform: translate(3rem, 0)
