// COLOR
$mainColor: #44a80a
$secondColor: #55abda
$thirdColor: #ae358a

// FONTS
$ff-headers: proxima-nova, sans-serif
$fw-headers: 900
$fs-headers: normal
$ff-body: mr-eaves-xl-modern, sans-serif
$fw-body3: 300
$fw-body4: 400
$fs-bodyNor: nomral
$fs-bodyIta: italic
